.container .loader {
  top: 0;
  left: 44px;
  z-index: 11;
  margin: auto;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  width: calc(100vw - 88px);
  background-color: transparent;
}

.container .loader svg {
  fill: #3367d6;
  pointer-events: none;
  vertical-align: middle;
}

.container .loader[white] svg {
  fill: #fff;
}
