.container .room {
  margin: 0;
  width: 100%;
  display: none;
  background-color: #1e1e1e;
}

.container .room .member {
  width: auto;
  margin: 1px;
  height: auto;
  position: relative;
  text-align: center;
  background-color: #1e1e1e;
}

.container .room .member[grid-row-end] {grid-row-end: var(--members)}
.container .room .member[grid-column-end] {grid-column-end: var(--members)}
.container .room .member[grid-area-v] {grid-area: var(--members) / 1 / auto / auto}
.container .room .member[grid-area-h] {grid-area: 1 / var(--members) / auto / auto}
.container .room .member[float-left] {margin-left: calc(calc(100vw / var(--members)) - 100vw + 74px)}
.container .room .member[float-right] {margin-left: calc(calc(100vw / var(--members)) - 128px - 18px)}
.container .room[grid-template-columns-r] {grid-template-columns: repeat(auto-fill, calc(100% / (var(--members) - 0)))}
.container .room[grid-template-columns-d] {grid-template-columns: repeat(auto-fill, calc(100% / (var(--members) - 1)))}

.container .room .member .nickname {
  top: 5px;
  width: auto;
  height: 24px;
  padding: 0 10px;
  font-size: 16px;
  text-align: left;
  line-height: 20px;
  position: absolute;
  border-radius: 3px;
  left: calc(50% - 58px);
  color: rgb(255 255 255 / 90%);
  background-color: rgb(0 0 0 / 15%);
  font-family: system-ui, sans-serif;
}

.container .room .member .close {
  position: absolute;
  width: 64px;
  height: 64px;
  font-size: 24px;
  cursor: pointer;
  line-height: 64px;
  color: transparent;
  border-radius: 64px;
  top: calc(50% - 32px);
  font-family: monospace;
  right: calc(50% - 32px);
  transition: 300ms ease all;
  background-color: transparent;
}

.container .room .member:hover .close {
  color: #fff;
  background-color: rgba(0,0,0,0.1);
}

.container .room .member:nth-child(1) .name {
  display: none;
}

.container .room .member video {
  border: 0;
  padding: 0;
  width: auto;
  margin: auto;
  outline: none;
  aspect-ratio: 1;
  max-width: 100vh;
  object-fit: cover;
  background-color: #222;
  height: calc(100% - 2px);
  border: solid 1px #7d7d7d;
}

/* --- a --- */

.container .room[layout='a'] {
  height: calc(100vh - 28px);
}

.container .room[layout='a'] .member {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .room[layout='a'] .member video {
  width: 100%;
  max-height: 92px;
}

.container .room[layout='a'] .member:nth-child(1) {
  margin: 1px auto;
  grid-row-start: 1;
  grid-column-start: 1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.container .room[layout='a'] .member:nth-child(1) video {
  width: 100vw;
  max-height: calc(100vh - 128px);
}

/* --- b --- */

.container .room[layout='b'],
.container .room[layout='g'],
.container .room[layout='h'] {
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 28px);
}

.container .room[layout='b'] .member,
.container .room[layout='g'] .member,
.container .room[layout='h'] .member {
  height: 98px;
}

.container .room[layout='b'] .member video,
.container .room[layout='g'] .member video,
.container .room[layout='h'] .member video {
  width: 128px;
  height: 96px;
}

.container .room[layout='b'] .member:nth-child(1),
.container .room[layout='g'] .member:nth-child(1),
.container .room[layout='h'] .member:nth-child(1) {
  margin: 0;
  display: flex;
  margin-top: 1px;
  grid-row-start: 1;
  text-align: center;
  align-items: center;
  grid-column-start: 1;
  justify-content: center; 
}

.container .room[layout='b'] .member:nth-child(1) {
  margin: 1px auto;
  width: calc(100% - 2px);
  height: calc(100vh - 130px);
}

.container .room[layout='b'] .member:nth-child(1) video,
.container .room[layout='g'] .member:nth-child(1) video,
.container .room[layout='h'] .member:nth-child(1) video {
  top: 1px;
  width: auto;
  position: fixed;
  height: calc(100vh - 32px);
}

.container .room[layout='b'] .member:nth-child(1) video {
  width: 100%;
  margin-top: 1px;
  max-height: calc(100vh - 134px);
}

.container .room[layout='g'] .member:nth-child(1) video {left: 45px}
.container .room[layout='h'] .member:nth-child(1) video {right: 45px}

.container .room[layout='b'] .member:nth-child(1) video[small] {
  left: 88px;
  margin-left: 0;
  width: calc(100vw - 182px);
}

/* --- c --- */

.container .room[layout='c']::-webkit-scrollbar {
  width: 0;
}

.container .room[layout='c'] {
  overflow: auto;
  scrollbar-width: none;
  height: calc(100vh - 28px);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.container .room[layout='c'] .member {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .room[layout='c'] .member video {
  height: auto;
  width: calc(100% - 4px);
}

/* --- d --- */

.container .room[layout*='d']::-webkit-scrollbar {
  width: 0;
}

.container .room[layout*='d'] {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  height: calc(100vh - 28px);
  grid-template-rows: repeat(var(--divide), 1fr);
  grid-template-columns: repeat(var(--repeat), 1fr);
}

.container .room[layout*='i'] {
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  width: calc(100vw - 88px);
  height: calc(100vh - 28px);
  grid-template-rows: repeat(var(--repeat), 1fr);
  grid-template-columns: repeat(var(--divide), 1fr);
}

.container .room[layout='d1'] .member,
.container .room[layout='i1'] .member {
  margin: 0;
}

.container .room[layout='i1'] .member {margin-right: 1px}
.container .room[layout='d1'] .member {margin-bottom: 1px}

.container .room[layout*='d'] .member,
.container .room[layout*='i'] .member {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.container .room[layout*='d'] .member {
  margin: 1px auto;
  min-height: 300px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.container .room[layout*='i'] .member {
  margin: 1px auto;
  min-width: 300px;
  height: calc(100% - 2px);
  max-width: calc(100% - 2px);
}

.container .room[layout*='d'] .member video {
  width: calc(100% - 2px);
}

.container .room[layout*='i'] .member video {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

/* --- e --- */

.container .room[layout='e'] {
  overflow-x: auto;
  height: calc(100vh - 28px);
}

.container .room[layout='e'] .member,
.container .room[layout='f'] .member {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .room[layout='e'] .member video,
.container .room[layout='f'] .member video {
  width: 100vw;
  max-width: 300px;
}

/* --- f --- */

.container .room[layout='f']::-webkit-scrollbar {
  width: 0;
}

.container .room[layout='f'] {
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100vh - 28px);
}

/* --- g --- */

.container .room[layout='g']::-webkit-scrollbar,
.container .room[layout='h']::-webkit-scrollbar {
  width: 0;
}

.container .room[layout='g'], 
.container .room[layout='h'] {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.container .room[layout='g'] .member,
.container .room[layout='h'] .member {
  width: 128px;
}

.container .room[layout='g'] .member:nth-child(1),
.container .room[layout='h'] .member:nth-child(1) {
  width: 0;
  height: calc(100vh - 28px);
}

.container .room[layout='g'] .member:nth-child(1) video,
.container .room[layout='h'] .member:nth-child(1) video {
  max-height: unset;
}

.container .room[layout='g'] .member:nth-child(1) video[small],
.container .room[layout='h'] .member:nth-child(1) video[small] {
  width: calc(100vw - 223px);
}

.container .room[layout='g'] .member:nth-child(1) video[small] {
  left: 45px;
  margin-left: 0 !important;
}

.container .room[layout='h'] .member:nth-child(1) video[small] {
  right: 45px;
  margin-right: 0 !important;
}
