body {
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1e1e;
  font-family: system-ui, sans-serif;
}

.container {
  display: grid;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: calc(100% - 88px);
  border: solid 1px #393939;
  height: calc(100vh - 28px);
  border-bottom: 0;
  border-top: 0;
}

.options, .controls, .toolbar {
  z-index: 11;
  position: absolute;
  background-color: transparent;
}

.toolbar {
  top: 1px; 
  right: 1px;
}

.controls {
  top: 43px;
  left: 1px;
  display: none;
}

.options  {
  top: 1px; 
  left: 1px; 
  z-index: 12;
  transition: all 700ms ease-in-out;
}

.options[state='show'] {
  transform: translate(257px, 0);
}

.options table,
.toolbar table,
.controls table {
  border-spacing: 0;
  table-layout: fixed;
}

.options table tr td,
.toolbar table tr td,
.controls table tr td {
  padding: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: 300ms ease all;
  background-color: transparent;
}

.options table tr td:hover,
.toolbar table tr td:hover,
.controls table tr td:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.options table tr td svg,
.controls table tr td svg,
.toolbar table tr td svg {
  fill: #e4e4e4;
  pointer-events: none;
  vertical-align: middle;
}

.controls #socket svg {display: none}
.controls #socket[state='closed'] .closed {fill: #6f6f6f}
.controls #socket[state='ready'] .ready {display: inline}
.controls #socket[state='closed'] .closed {display: inline}
.controls #socket[state='loading'] .loading {display: inline}

html[context='webapp'] .toolbar {
  display: none;
}
